@import "tailwindcss";



html, body {
  height: auto !important;
  overflow-y: auto !important;
  overflow-x: hidden;
}

#root {
  height: auto !important;
  overflow: visible !important;
}


html, body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
